html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    background-color: #fafafa;

}
p, ul, ol, h1, h2, h3, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a,abbr{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .5rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/*form*/
header h1{

    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    color: rgb(145, 145, 145);
    
}
header h1 span{
    color: #000 ;
}
fieldset{
    max-width: 35rem;
    background-color:  #ffffff;
    margin: 0 auto;
    border: solid 0.15rem;
    border-color: #dbdbdb;
}
.insta{
    display: block;
    margin: 0 auto;
    max-width: 18rem;    
    padding-top: 2rem;
    padding-bottom: 3rem;
}
main .form{
    
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
    
    
}
.form input{
    background-color: #fafafa;
    border: solid 0.15rem;
    border-color: #dbdbdb;
    border-radius: 0.3rem;
    margin: 1rem auto;
    padding-left: 1rem;
}

.icon_fb{
    max-width: 1.2rem;
}
.form ul{
    text-align: center;
    color: #003b72;
    padding-top: 2rem;
    
}
.form hr{
    height: .1rem;
    background-color: #616161;
    border: none;
}
.ou{
    text-align: center;
    transform: translateY(1.7rem);
    margin: 0rem auto;
    background-color: #fff;
    width: 3.5rem;
    color: #8d8d8d;    
}

.form input[type="submit"]{
    background-color:#3897f0;
    color: #FFF;
    border: none;
    
}

.form .success{
    background-color: rgb(36, 153, 20);
    display: block;
}

.form input, .form label{
    display: block;
    width: 100%;
    line-height: 4.5rem;
}
.form input[placeholder], input[type="submit"]{
    font-size: inherit;
}
.compte{
    text-align: center;
    padding-top: 1rem;
    background-color: #ffffff;
    border: solid 0.15rem;
    border-color: #dbdbdb;
    margin: .9rem auto;
    max-width: 35rem;
    padding: 2rem;
    font-size: 1.3rem;
}
section ul li{
    margin: 2rem auto;
    text-align: center;
    display: block;
}
section ul li img{
    max-width: 13rem;
}
footer *{
    text-align: center;
}